@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

/*Header*/
.header{
  border: 2px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #EBFA2B;
}
h1 {
    color: #0AE3B2;
    letter-spacing: 5px;
    background-color: #EBFA2B;
}

* {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  background-color: #F2F99A;
}

/*Navigation*/
li {
  list-style-type: none;
  color: #11C864;
  font-size: 20px;
  text-decoration: bold;
  letter-spacing: 5px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Search*/
form{
  border: 2px solid black;
  padding: 20px;
}
.formcontainer{
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formtitle{
  border: 2px solid red;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #0AE3B2;
}
