@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

/*Header*/
.header{
  border: 2px solid lightgray;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F2F99A;
}

h1 {
    color: #0AE3B2;
    letter-spacing: 5px;
}
h2 {
  font-size: 35px;
  color: slategray;
}
* {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  background-color: #EBFA2B;
}

/*Navigation*/
li {
  list-style-type: none;
  color: #11C864;
  font-size: 20px;
  text-decoration: bold;
  letter-spacing: 5px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*Search*/
.searchbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.zipinput {
  font-size: 24px;
  color: lightgray;
  background-color: #F2F99A;
}

.submitbutton {
  font-size: 24px;
  background-color: #0AE3B2;
  color: gray;
}

/*Global*/
.page_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Results*/
.results_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result_container{
  border: 2px solid lightgray;
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2F99A;
}
